
<!--Form to customize the HTML of the fields of the default django-registration-redux registration form -->
{% if form.errors %}
    <div class="alert alert-danger">
        <p class="text-danger">Please correct the errors below!</p>
    </div>
{% endif %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
        <p>{{ error|escape }}</p>
    {% endfor %}
    </div>
{% endif %}

{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% elif field.name == "password1" or field.name == "password2" %}
    <!-- CUSTOMIZE PASSWORD FIELDS -->
        <div class="form-group {% if field.errors %}has-error{% endif %}" id="group_{{ field.name }}">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <input class="form-control" type="password" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="********" required />
            <!-- {{ field }} -->
        </div>
            {% if field.errors %}
                {% for error in field.errors %}
                <p class="help-block"><span class="text-danger">{{ error|escape }}</span></p>
                {% endfor %}
            {% endif %}
    {% elif field.name == "username" %}
        <!-- CUSTOMIZE USERNAME FIELDS -->
        <div class="form-group {% if field.errors %}has-error{% endif %}" id="group_{{ field.name }}">
            
            <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label>
            <input class="form-control" type="text" name="{{ field.name }}" id="group_{{ field.name }}" placeholder="{{ field.label }}" required />
            <!-- {{ field }} -->
        </div>
            {% if field.errors %}
                {% for error in field.errors %}
                <p class="help-block"><span class="text-danger">{{ error|escape }}</span></p>
                {% endfor %}
            {% endif %}
    {% else %}
        <!-- CUSTOMIZE THE EMAIL FIELD -->
        <div class="form-group {% if field.errors %}has-error{% endif %}" id="group_{{ field.name }}">
    
            <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label>
            <input class="form-control" type="text" name="{{ field.name }}" id="group_{{ field.name }}" placeholder="user@example.com" required />
            <!-- {{ field }} -->

            {% if field.errors %}
                {% for error in field.errors %}
                <p class="help-block"><span class="text-danger">{{ error|escape }}</span></p>
                {% endfor %}
            {% endif %}
            <!-- {% if field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
            {% endif %} -->
        </div>
    {% endif %}
{% endfor %}