{% extends 'Game/base.html' %}
{% load staticfiles %}

{% block head_css %}
  <link rel="stylesheet" href="/static/css/register.css">
{% endblock %}
{% block content %}

<div class="container__child signup__form">
  <form action="#">
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="text" name="email" id="email" placeholder="user@example.com" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
    </div>
    <div class="m-t-lg">
      <ul class="list-inline">
        <li>
          <input class="btn btn--form" type="submit" value="Login" />
        </li>
        <li>
          <a class="signup__link" href="{% url 'registration_register' %}">Not a member yet? Create an account</a>
        </li>
      </ul>
    </div>
  </form>
</div>
</div>
{% endblock %}
