{% extends 'Game/base.html' %}
{% block head_css %}
  <link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}


<div class="banner"style="margin-top:0px">
    <div class="container">
     <div class="row">
         <div id="login-header" >
          <h1 class="lg-text">SIGN UP</h1>
          <p class="image-aboutus-para">One Step Away From An Adventure</p>
        </div>
     </div>
 </div>
 </div>

 <div class="container__child signup__form">
  <form class="form-signin" action="." method="post">
      {% csrf_token %}
      {% include 'registration/form.html' with form=form %}
      <div class="m-t-lg">
          <ul class="list-inline">
            <li>
              <input class="btn btn--form" value="Submit" type="submit" value="Register" />
            </li>
            <li>
              <a class="signup__link" href="{% url 'auth_login' %}">Already a member? Sign in here</a>
            </li>
          </ul>
        </div>
  </form>
</div>

{% endblock %}
