/* BANNER  */

body {
  /* background: url('../images/townNight.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}

.container{
  /* text-shadow: 3px 3px #424242; */
}

.img{
  height: 250px;
  width: 500px;
}

/* 
.image-howto-banner {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url(../images/campfire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom:110px;
  height: 30em;
}

.image-howto-sm-banner {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/campfire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom:30px;
}

.container{
  padding-top: 100px;
  margin-top: 80px;
} */
/* Featurettes
------------------------- */
