/* BANNER  */

body {
  /* background: url('../images/oldTownNight.jpg') no-repeat center center fixed; */
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* color: aliceblue; */
  
}




.image-howto-banner {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)),url(../images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
  color: #fff;
  padding-top: 110px;
  padding-bottom:110px;
  height: 30em;
}

.image-howto-sm-banner {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(../images/campfire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom:30px;
}

.container{
  padding-top: 80px;

}

.objects{
  margin-top: 20px;
  
}
/* Featurettes
------------------------- */
