
/* This handles the players stat's */
/* Some inspiration from https://codepen.io/secondfret/pen/mIBqf */
/* #stats {
    position: absolute;
    right: 120px;
    width: 800px;
}

#stats ul {
    float: left;
    width: 400px;
    list-style-type: none;
}

#stats li {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    
}

#stats li:hover{
    font-size: 30px;
    background: #f6f6f6;
} */

.stats{
    position: absolute;
    left: 0 ;
}

.badges{
    align-content: right;
}

.image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.7)),url(../images/oldTownNight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
    height: 30em;
    margin-bottom: 40px;
 }
 
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.7)), url(https://cdn.pixabay.com/photo/2018/05/04/10/30/team-3373638_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
.lg-text {
    position: relative;
    margin-top: 10px;;
    font-size: 68px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
    text-align: right;
}


/* This handles the profile picture division. it contains the profile image  division and associated buttons division*/

#profilePic {
    position: relative;
    
    top: 0p;
    /* width: 800px; */
}



/* #profilePic p {
    font-size: 18;
    font-weight: 500;
    
} */

/* This handles the profile image division */
#image {
    
    position: relative;
    left: 0;
}

#image img {
    width: 200px;
    height: 200px;
    
}

.container{
    margin-bottom: 40px;
    margin-left: 40px;  
}

/* Below all operate on the position and other aspects of the buttons */
#Buttons {
    position: absolute;
    height: auto;
    margin: auto;
    /* margin-top: 10px; */
    margin-left: 0px;
    margin-right: 10px;
}

#heading{
    position: absolute;
    right: 0;
}




#stats{
    position: relative; /*or fixed*/
    margin-bottom: 50px;
    margin-left: 60px;
    
}


/*Below is the styling for the achievement table*/
#achievements-table {
    position: absolute;
    right: 120px ;
    top: 300px;
    width: 800px;
    height: 400px;
    overflow: auto;
}    


#achievements-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table tr:nth-child(even) {
        background-color: #dddddd;
}

table img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px; 
    width: 50px;
}

#badges{
    position: auto;
    margin-left: 50px; 
    margin-bottom: 50px;

    
}

#image-upload {
    display: none;
}
