
/* Below all operate on the position and other aspects of the buttons */
#Buttons {
    position: absolute;
    left: 75px ;
    top: 500;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 10px;
}

#display-upload {
    float: left;
}
#image-delete {
    height: auto;
}

button, input{
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}


button:hover, input:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active, input:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}


/*This hides the regular file input button so that we can replace it with a better styled one.*/
#file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file-input + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: black;
    border: 2px solid currentColor;
}


#file-input:focus + label,
#file-input + label:hover {
    color: gainsboro;
}

/*This handles the name div */

#name {
    margin-left: 18px;
    font-size: 24;
    font-weight: 700; 
}













/*Below is the styling for the achievement table*/
#achievements-table {
    position: absolute;
    right: 75px ;
    top: 100px;
    width: 600px;
    height: 500px;
    overflow: auto;
}    


#achievements-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#achievements-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#achievements-table tr:nth-child(even) {
        background-color: #dddddd;
}

#achievements-table img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px; 
    width: 50px;
}


#image-upload {
    display: none;
}
