footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}



.dropdown-menu{
  margin-right:0; 
}

#userGreeting{
    margin-top: 8px;
    color: #fff; 
}

li.dropdown:last-child .dropdown-menu {
  right: 0;
  left: auto;
}