{% extends 'Game/base.html' %}
{% load staticfiles %}

{% block head_css %}
{% endblock %}

{% block content %}
<script type="text/javascript">
        function post_fun(inp) {
            alert("post_fun invoked "+inp);
            // NOTE IMPORTANT: this function will go to the error branch because it get's no response
            // for now at least, it DOES post the data though
            $.ajax({
                type: "POST",
                url: "/post_data",
                data: inp,
                success: function(){
                },
                error: function(){
                    $(".actionBtn").remove();
                    get_fun();
                }
            })
        }
        function get_fun(){
            $.ajax({
                    type: 'GET',
                    url: "/test2",
                    dataType: "json",
                    success: function (data) {
                        var cmd = "";
                        for (var i in data) {
                            for (var j in data[i]) {
                                if (i != "text") {
                                    cmd = i + "," + data[i][j];
                                    $('#buttons').append('<button class="actionBtn" onClick=post_fun(this.firstChild.nodeValue)>' + i + " " + data[i][j] + '</button>');
                                }
                            }
                        }
                    }

                });
        }
        $(document).ready(function() {
                $.ajax({
                    type: 'GET',
                    url: "/test2",
                    dataType: "json",
                    success: function (data) {
                        var cmd = "";
                        
                        for (var i in data) {
                            for (var j in data[i]) {
                                if (i != "text") {
                                    cmd = i + "," + data[i][j];
                                    $('#buttons').append('<button class="actionBtn" onClick=post_fun(this.firstChild.nodeValue)>' + i + " " + data[i][j] + '</button>');
                                }
                            }
                        }
                    }

                });
        });
</script>
<div id="buttons">

</div>

{% endblock %}