{% extends 'Game/base.html' %}
{% load staticfiles %}

{% block head_css %}
      <link rel="stylesheet" href="{% static "css/instructions.css" %}">
      <script src="{% static "js/aboutUsScroll.js" %}"></script>

{% endblock %}

{% block content %}


<div class="image-howto-banner" style="margin-top:0px">
  <div class="container">
   <div class="row">
       <div class="col-md-12">
        <h1 class="lg-text">How the game works</h1>
        <p class="image-para">Learn the rules and start playing today</p>
        <a class="btn btn-lg btn-primary" id ="readMoreButton" href="#creatures" role="button">Learn more</a>
      </div>
   </div>
</div>
</div>


<!-- Page Content -->
<div class="container objects">

    <!-- Project One -->
    <div class="row">
      <div class="col-md-4">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "images/house.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-2">
        <h3>Houses</h3>
        <p> In the game, there are a number of houses or buildings. The player can choose to enter a house. Each of these houses has a number of different rooms.</p>
        
      </div>

      <div class="col-md-4">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "images/room.jpg" %}" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <h3>Rooms</h3>
          <p> The rooms in the buildings may be occupied by other humans or creatures that may or may not be hostile. There are also various different items in the rooms, which can be picked up by the player.</p>
          
        </div>

    </div>
    <!-- /.row -->


    <hr>

    <!-- Project Three -->
    <div class="row">
      <div class="col-md-4">
        <a href="#">
          <!-- <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/images/dog.jpg" alt=""> -->
        </a>
      </div>
      <div class="col-md-2" id = creatures>
        <h3>Other humans/ creatures</h3>
        <p> The player may choose to talk to them  or to fight them</p>
        
      </div>

      <div class="col-md-4">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "images/weapon.jpg" %}" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <h3>Items</h3>
          <p>The rooms contain items such as weapongs or food. The player can pick up these items once he has defeated whatever monster occupied the room.</p>
          
        </div>

    </div>
    <!-- /.row -->

  

  </div>
  <!-- /.container -->
{% endblock %}
