{% extends 'Game/base.html' %}
{% load staticfiles %}

{% block head_css %}
      <link rel="stylesheet" href="/static/css/instructions.css">

{% endblock %}

{% block content %}


<!-- <div class="image-howto-banner" style="margin-top:0px">
  <div class="container">
   <div class="row">
       <div class="col-md-12">
        <h1 class="lg-text">GET STARTED</h1>
        <p class="image-para">Learn the rules and start playing today</p>
        <a class="btn btn-lg btn-primary" id ="readMoreButton" href="#team" role="button">Learn more</a>
      </div>
   </div>
</div>
</div> -->


<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">How the game works
      <!-- <small>get started on your </small> -->
    </h1>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="static/images/house.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Houses</h3>
        <p> In the game, there are a number of houses or buildings. The player can choose to enter a house. Each of these houses has a number of different rooms.</p>
        
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/images/room.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Rooms</h3>
        <p> The rooms in the buildings may be occupied by other humans or creatures that may or may not be hostile. Depending on the case, the player may choose to 1) talk to them and recruit them to the player's party or 2) to enter combat.</p>
        
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/images/dog.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Other humans/ creatures</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
        
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">

      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/images/weapon.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Items</h3>
        <p>The rooms contain items such as weapongs or food. The player can pick up these items once he has defeated whatever monster occupied the room.</p>
        
      </div>
    </div>
    <!-- /.row -->

    <hr>

  </div>
  <!-- /.container -->
{% endblock %}
