{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        <title>Zombie Survival Game</title>

        <link rel="stylesheet" href="static/css/landing.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    </head>
    <body>



        <div id="landing-header">
            <h1>Are You Ready To Fight For Your Life</h1>
            <!-- <h4>a free text-based indie browser game </h4>
            <hr id ="hr"> -->
            <a href="{% url 'home' %}" class="btn btn-lg btn-info">Learn more!</a>
            <a href="{% url 'registration_register' %}" class="btn btn-lg btn-success">Create an account now</a>
        </div>

        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </body>
</html>
