{% extends 'Game/base.html' %}
{% block head_css %}
<script src="/static/js/testajax.js"></script>
<link rel="stylesheet" href="static/css/my_profile.css">
{% endblock %}

{% block content %}
<div>
    {{ user.username }}'s Stats
    <ul>
        <li>Games Played: {{ games }}</li>
        <li>Most Kills: {{ kills }}</li>
        <li>Longest Survived: {{ longest_survived }}</li>
        <li>Most Experience: {{ exp }}</li>
    </ul>
</div>
<div id = image>
     <img src="{{ picture.url }}" width="500px" onerror="this.style.display='none'"/>
</div>
<div>
    <form id="imageupload" method="post" action="my_profile" enctype="multipart/form-data">
        {% csrf_token %}
         <li> Edit Your Profile Picture</li>
        {{ form.as_p }}
        <input type="submit" value="Upload New Profile Picture" onclick="return NoImageSelect() "/>
    </form>
    <script>
 function NoImageSelect() {
  if (document.getElementById("id_picture").files.length == 0) {
    alert("Please Select An Image To Upload");
    return false;
  }
  if (
    !document
      .getElementById("id_picture")
      .files[0].name.match(/.(jpg|jpeg|png|gif)$/i)
  ) {
    alert("The file selected is not of an Image type");
    return false;
  }
  return true;
}
    </script>
</div>
<div id="achievements-table">
    <table>
        <tr>
            <th>Badge Name</th>
            <th>Date Awarded</th>
            <th>Description</th>
            <th>Icon</th>
        </tr>
        {% for achievement in achievements %}
        <tr>
            <td>{{ achievement.badge.name }}</td>
            <td>{{ achievement.date_awarded }}</td>
            <td>{{ achievement.badge.description }}</td>
            {% if achievement.badge.icon %}
                <td><img src="{{ achievement.badge.icon.url }}"/></td>
            {% else %}
                <td>Img_Error</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}